
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'nunito';
}

@font-face {
    font-family: 'nunito';
    src: url('Nunito_Sans/');
}

/* Estilo de fondo para el cuerpo */

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dedede;

}


/* Menu de cabecera */
header {
    margin-left: 4.025%;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    padding: 1.1%;
    
}

i {
    color: #000000;
    font-size: 100px;
}

header h2 {
    margin-right: 20%;
    margin-left: 2%;
}

h3{
    margin-left: 10%;
}


input {
    font-family: 'nunito';
    border-radius: 6px;
    width: 20%;
    text-align: left;
    padding-left: 20px;
   
}
/* Menu vertical*/
ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fffefe;
    font-family: sans-serif;
    width: 4%;   
    z-index:1000;       
    position: fixed;
    
}

li{
    
    padding: 20%;
    margin-bottom: 40%;
    
    
 
}

li a{
    display:flex ;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    width: 2%;
    font-size: 20px;
}

li a:hover{
    border-bottom: 1px solid #ffffff;
    transition: all 0.3s ease;

}



/* Tabla */
.contenedor {
    position: absolute;
    margin: 8%;
    width: 80%;
    height: 70%;
    background-color: #ffffff;
}

.contenedor h1{
    margin: 10%;
}

.contenedor h2{
    margin: 2%;
}

div{
    margin-top: auto;
    color:#000000;
    background-color:#fffefe;
    text-align: center;
    height: auto;
    margin: 10%;
    padding: 8px;
    border: 5px solid #ddd;
    width: 80%;
    border-collapse: collapse;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #696969;
}
tbody tr:nth-child(even) {
    background-color: #5897ae;
}
tbody tr:hover {
    background-color: #cce5ff;
}
    

td{
    color: #000000;
}
h4{
    text-align: left;
}
